*
{
    padding: 0;
    margin: 0;
}
body
{	
	background: -moz-linear-gradient(-45deg, rgba(229,229,229,1) 0%, rgba(168,168,168,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(229,229,229,1)), color-stop(100%,rgba(168,168,168,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, rgba(229,229,229,1) 0%,rgba(168,168,168,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, rgba(229,229,229,1) 0%,rgba(168,168,168,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, rgba(229,229,229,1) 0%,rgba(168,168,168,1) 100%); /* IE10+ */
	background: linear-gradient(135deg, rgba(229,229,229,1) 0%,rgba(168,168,168,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#a8a8a8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
	padding: 80px 0px 0px 0px;
	margin: 15px;
}
#demo-wrapper
{
    width: 98%;
    margin: 40px auto;
}
#button-less
{
    margin-top: 20px;
}
#button-less .akordeon-item-head-container
{
    left: 0px !important;
}


